/* Establecer el box-sizing en border-box para incluir el borde y el relleno en las medidas */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #0d0d0d;
  --primary: #e80665;
  --secondary: #ffff;
  --tertiary: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: var(--background);
}

body {
  max-width: 800px; /* Limita el ancho del cuerpo */
  margin: 0 auto; /* Centra el contenido en dispositivos de escritorio */
  padding: 10px; /* Agrega un espacio alrededor del contenido en dispositivos móviles */
}

/* Estilos para dispositivos móviles */
@media (max-width: 800px) {
  .navBar-container {
    height: auto; 
    width: 100%; /* Ancho completo */
    padding: 16px ;
    display: flex;
    color: var(--secondary);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cambiar la sombra según tus preferencias */
    background-color: var(--background); /* Agregar un fondo al navbar */
  }
  

  .navlogo {
    margin-left: 10px; 
    margin-right: auto;
  }
  #buttonNav {
   display: none;
  }

  #changeLanguage {
    width: 50px; 
    font-size: 10px;
  }


  .main-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 20px;

  }

  .main-text {
    margin-top: 20px;
    text-align: center;
    order: 2;
  }

  .main-text h2 {
    font-size: 16px;
   padding-bottom: 8px;
  }

  .main-text h1 {
    
    font-size: 20px;
    color: var(--primary);  padding-bottom: 8px;
  }

  .main-text .text-occupation {
    margin-bottom: 16px;
    font-size: 16px; 
  }
  .main-text p {
    font-size: 14px;
    text-align:center;

  }
  .main-img {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-right: 0;  
    order: 1;
  }

  .main-img img {
    width: auto;
    height: 220px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

  .tool-container {
    max-width: 100%;
    height: auto;
    margin-top: 48px;
  }
  .tool-container h2 {
    font-size: 24px;
    text-align: center;
    color: var(--secondary);
    padding-bottom: 20px;
  }
  .tools::before {
    content: "";
    position: absolute;
    padding-top: 60px;
    width: 150px;
    height: 20%;
    align-items: center;
    border-radius: 60%;
    border: 80px solid #e80665;
    filter: blur(190px);
    z-index: -1;
  }

  .tools {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    align-items: center; 
  }

  .tools img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px; /* Espacio vertical entre los íconos */
  }

  .projects-section {
    padding-top: 40px;
    text-align: center;
  }

  .project-container {
    width: auto;
    margin: 0;
  }
  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--secondary);
    padding-bottom: 20px;
    text-align: center; /* Center the title */
  }

  .project {
    width: 100%;
    margin-bottom: 10px;
  }

  
  .project img {
    width: 100%;
    height: auto;
  }

  .project h2 {
    font-size: 18px;
  }

  .ellipse {
    width: 150px; 
    height: 150px; 
    background: var(--primary);
    border-radius: 50%;
    position: absolute;
    filter: blur(100px); 
    top: 0;
    left: 0;
    z-index: 1;
  }

  .ellipse-blur {
    width: 50px; 
    height: 70%; 
    border-radius: 40%;
    border: 20px solid #e80665;
    filter: blur(80px); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  #whatsapp-chat {
    bottom: 10px;
    right: 10px;
  }
  footer {
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
  }

  .footer::before {
    content: "";
    position: absolute;
    padding-top: 60px;
    width: 20px;
    align-items: center;
    border-radius: 60%;
    border: 80px solid #e80665;
    filter: blur(90px);
    z-index: -1;
  }
}
 
