
/* Estilos para dispositivos móviles */
@media (max-width: 425px) {
  .navBar-container {
    height: auto; 
    width: auto; 
    margin: 10px;

    display: flex;
    color: var(--secondary);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: var(--background); 
  }
  

  .navlogo {
    margin-left: 8px; 
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
  }
.navlogo p {
  font-size: 16px;
}
  
  .main-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
    margin: 12px;

  }

  .main-text {
    margin-top: 10px;
    text-align: center;
    padding: 12px;
    order: 2;
  }

  .main-img {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 0;  
    order: 1;
  }

  .main-img img {
    width: auto;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

  .AboutMe-Section {
    height: 400px;
    margin-top: 12px;
    padding: 24px;
    color: white;
  }
  
  .aboutMe-container {
    width: 100%;
    height: 100px;
  }

  .text {
    font-size: 16px;
  }
  .aboutMe-Title {
    font-size: 18px;
    margin-bottom: 16px;
    color: var(--primary);
  }
  .tool-section {
    margin: 10px;
    padding: 10px;
    height: 400px;
  }
  .tool-container {
    display: flex;

    max-width: 100%;
    height: 200px;
    margin-top: 12px;
  }
 
  .tools::before {
    content: "";
    position: absolute;
    padding-top: 60px;
    width: 150px;
    height: 20%;
    align-items: center;
    border-radius: 60%;
    border: 80px solid #e80665;
    filter: blur(190px);
    z-index: -1;
  }

  .tools {
    display: flex;
    flex-direction:row; 
    margin: 10px;
    padding: 8px;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    align-items: center; 
  }

  .tools img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px; /* Espacio vertical entre los íconos */
  }

/* Styles for the projects section */
.projects-section {
  margin: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
}

.project-container {
  background-color: #e806640c;
  color: var(--secondary);
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

}

/* Styles for individual project cards */
.project {
  color: var(--secondary);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

#tools-list {
  list-style: none;
  display: flex;
  gap: 10px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.324);
  margin: 8px;
}

/* Styles for the project title */
.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--secondary);
  padding-bottom: 24px;
}

/* Styles for project cover images */
.project-img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.project-img:hover {
  border: 8px solid #a3ff4d;
}

/* Styles for the project description */
.project p {
  font-size: 14px;
  padding: 8px;
  color: var(--secondary);
  margin-bottom: 10px;
  width: 100%;
}

/* Styles for project links */
.github-link,
.additional-link {
  width: 120px;
  height: 48px;
  text-align: center;
  flex: 1;
  text-decoration: none;
  padding: 14px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.github-link:hover,
.additional-link:hover {
  background-color: #448904;
  color: var(--secondary);
}

/* Styles for the project description */
#project-description {
  font-size: 16px;
  color: var(--terciary);
  font-weight: 200;
}
}
 /* Styles for the footer */
footer {
  height: 100px;
}

.footer {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

footer::before {
  content: "";
  position: absolute;
  width: 900px;
  height: 5%;
  border-radius: 30%;
  border: 30px solid #e80665;
  filter: blur(190px);
  z-index: -1;
}



@media (max-width: 1024px) {
  .navBar-container {
    height: auto; 
    width: auto; 
    margin: 10px;
    display: flex;
    color: var(--secondary);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    background-color: var(--background); 
  }
  

  .navlogo {
    margin-left: 8px; 
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
  }
.navlogo p {
  font-size: 16px;
}
  
  .main-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
    margin: 12px;

  }

  .main-text {
    margin-top: 8px;
    text-align: center;
    padding: 12px;
    order: 2;
  }

  .main-img {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-right: 0;  
    order: 1;
  }

  .main-img img {
    width: auto;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }

  .AboutMe-Section {
    height: 300px;
    margin-top: 10px;
    padding: 16px;
    color: white;
  }
  
  .aboutMe-container {
    width: 100%;
    height: 100px;
  }

  .text {
    font-size: 16px;
  }
  .aboutMe-Title {
    font-size: 18px;
    margin-bottom: 16px;
    color: var(--primary);
  }
  .tool-section {
    margin: 10px;
    padding: 10px;
    height: 310px;
  }
  .tool-container {
    display: flex;
    max-width: 100%;
    height: 200px;
    margin-top: 12px;
  }
 
  .tools::before {
    content: "";
    position: absolute;
    padding-top: 60px;
    width: 150px;
    height: 20%;
    align-items: center;
    border-radius: 60%;
    border: 80px solid #e80665;
    filter: blur(190px);
    z-index: -1;
  }

  .tools {
    display: flex;
    flex-direction:row; 
    margin: 10px;
    padding: 8px;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    align-items: center; 
  }

  .tools img {
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
  }

/* Styles for the projects section */
.projects-section {
  margin: 8px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  height: auto;
}

.project-container {
  background-color: #e806640c;
  color: var(--secondary);
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;

}

/* Styles for individual project cards */
.project {
  color: var(--secondary);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;


}

#tools-list {
  list-style: none;
  display: flex;
  gap: 10px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.324);
  margin: 8px;
}

/* Styles for the project title */
.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--secondary);
  padding-bottom: 24px;
}

/* Styles for project cover images */
.project-img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.project-img:hover {
  border: 8px solid #a3ff4d;
}

/* Styles for the project description */
.project p {
  font-size: 14px;
  padding: 8px;
  color: var(--secondary);
  margin-bottom: 10px;
  width: 100%;
}

/* Styles for project links */
.github-link,
.additional-link {
  width: 120px;
  height: 48px;
  text-align: center;
  flex: 1;
  text-decoration: none;
  padding: 14px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.github-link:hover,
.additional-link:hover {
  background-color: #448904;
  color: var(--secondary);
}

/* Styles for the project description */
#project-description {
  font-size: 16px;
  color: var(--terciary);
  font-weight: 200;
}

  .ellipse {
    width: 150px; 
    height: 150px; 
    background: var(--primary);
    border-radius: 50%;
    position: absolute;
    filter: blur(100px); 
    top: 0;
    left: 0;
    z-index: 1;
  }

  .ellipse-blur {
    width: 50px; 
    height: 70%; 
    border-radius: 40%;
    border: 20px solid #e80665;
    filter: blur(80px); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  #whatsapp-chat {
    bottom: 10px;
    right: 10px;
  }
}
 
/* Styles for the footer */
footer {
  height: 100px;
}

.footer {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  border-radius: 30%;
  border: 30px solid #e80665;
  filter: blur(190px);
  z-index: -1;
}

