* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define root-level variables for colors and fonts */
:root {
  --background: #1c1c1d;
  --primary: #f52cf9;
  --secondary: #ffff;
  --terciary: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Apply background color to the entire HTML element */
html {
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
 margin: 0;
 padding: 0;
}
.navBar-container {
  width: auto;
  height: 100px;
  padding: 40px 80px 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #e7e7e718;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Styles for the logo in the navigation bar */
.navlogo {
  background: var(--primary);
  margin: 0 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlogo p {
  text-align: center;
  font-size: 24px;
}

/* Styles for the "changeLanguage" button */
#changeLanguage {
  width: 70px;
  height: 25px;
  margin-right: 8px;
  font-size: 12px;
  color: var(--primary);
  background: #f5f5f5;
  border-radius: 10px;
}

#changeLanguage:hover {
  background-color: #448904;
  color: var(--secondary);
}

/* Styles for the main container */
.main-section {
  width: auto;
  height: auto;
  display: flex;
  padding: 40px 200px;
  align-items: center;
}
.main-Container{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;

  text-align: left;
  color: var(--secondary);

}
/* Styles for the main text */


.main-text h2 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 8px;
}

.main-text h1 {
  font-size: 24px;
  color: var(--primary);
}

.main-text{
  width: auto;
  margin-right: 20px; 
  }


/* Styles for the main image container */
.main-img {
 
  width: auto;
 display: flex;
 padding: 20px;
 margin-left: 40px;

  
}

.main-img img {
  background-color: #1c1c1d;
  border: solid #f52cf9;
  box-shadow: 0 0 24px #f52cf9;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
  object-fit: cover;

}

.social-Media{
  padding-top: 24px ;
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkedin-button,
.github-button {
  background: var(--primary);
  padding: 6px;
  width: 120px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  
}
.linkedin-button img {
  width: 20px;
  margin-right: 6px;
}

.mail-button {
  background: var(--primary);
  padding: 6px;
  width: 250px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.AboutMe-Section {
  height: 125px;
  width: auto;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 40px 200px 40px 200px;
}

.aboutMe-container {
  width: auto;
  height: 100px;
  padding: 80px 180px 40px 180px;
}

.aboutMe-Title {
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--primary);
}

.aboutMe-CV {
  align-items: baseline;
  display: flex;
}

.aboutMe-CV span {
  background: var(--primary);
  color: #fff;
  padding: 16px;
  text-align: center;
  border-radius: 16px;
  margin-top: 24px;
}

.aboutMe-CV span:hover {
  background: #448904;
}



/* Styles for the tool container */
.tool-section {
  padding-top: 56px;
  margin-top: 300px;
  padding: 40px 80px 40px 80px;
  height: 500px;
}

/* Styles for the tool section title */
.tool-section h2 {
  font-size: 24px;
  text-align: center;
  color: var(--secondary);
  margin: 48px;
}

/* Styles for the tool images and border effect */


.tools {
  height: 100px;
  padding-top: 56px;
  margin: 48px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 40px 24px;
}

.tools img {
  background: #3e3c3c45;
  padding: 8px;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: contain;
}

/* Styles for the projects section */
.projects-section {
  margin: 8px;
  padding: 20px;
  
}

.project-container {
  background-color: #48484b;
  color: var(--secondary);
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  gap: 16px;
}

/* Styles for individual project cards */
.project {
  color: var(--secondary);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

#tools-list {
  list-style: none;
  display: flex;
  gap: 10px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.324);
  margin: 8px;
}

/* Styles for the project title */
.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--secondary);
  padding-bottom: 24px;
}

/* Styles for project cover images */
.project-img {
  width: 340px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.project-img:hover {
  border: 8px solid #a3ff4d;
}

/* Styles for the project description */
.project p {
  font-size: 16px;
  padding: 16px;
  color: var(--secondary);
  margin-bottom: 10px;
}

/* Styles for project links */
.github-link,
.additional-link {
  width: 150px;
  height: 48px;
  text-align: center;
  flex: 1;
  text-decoration: none;
  padding: 16px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 80%;
}

.github-link:hover,
.additional-link:hover {
  background-color: #448904;
  color: var(--secondary);
}

/* Styles for the project description */
#project-description {
  font-size: 16px;
  color: var(--terciary);
  font-weight: 200;
}

/* Styles for the WhatsApp chat button */
#whatsapp-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  color: #fff;
  padding: 10px 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.366);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#whatsapp-chat img {
  width: 40px;
  display: block;
  padding: 4px;
  border-radius: 30%;
}

#whatsapp-chat:hover {
  background-color: #448904;
}

/* Styles for the footer */
footer {
  height: 100px;
}

.footer {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

footer::before {
  content: "";
  position: absolute;
  width: 900px;
  height: 5%;
  border-radius: 30%;
  border: 30px solid var(--primary);
  filter: blur(190px);
  z-index: -1;
}

