* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define root-level variables for colors and fonts */
:root {
  --background: #0d0d0d;
  --primary: #e80665;
  --secondary: #ffff;
  --terciary: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Apply background color to the entire HTML element */
html {
  background: var(--background);
}

.navBar-container {
  width:  100%;
  display: flex;
  padding: 0 16px; 
  color: var(--secondary);
  justify-content: space-between;
  margin-top: 26px;
  align-items: center;

}

/* Styles for the logo in the navigation bar */
.navlogo {
  background: var(--primary);
  margin: 0 32px; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlogo p {
  text-align: center;
  font-size: 24px;
}

/* Styles for the "changeLanguage" button */
#changeLanguage {
  width: 70px;
  height: 25px;
  margin-right: 8px;
  font-size: 12px;
  color: #e80664;
  background: #f5f5f5;
  border-radius: 10px;
}

#changeLanguage:hover {
  background-color: #448904;
  color: var(--secondary);
}

/* Styles for the main container */

.main-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary);
  margin-top: 40px;
  height: 100px;
}

/* Styles for the main text */
.main-text {
  margin: 0 80px; 
  width: 80%;
  padding-top: 50px;
}

.main-text h2 {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 8px;
}

.main-text h1 {
  font-size: 36px;
  color: var(--primary);
}



/* Estilos para el texto de ocupación con animación de escritura */
.main-text .text-occupation {
  margin-bottom: 36px;
  margin-top: 12px;
  font-size: 20px;
}




.main-text
.text-occupation
{
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid white;
  animation: slide 4s ease-in-out infinite;
}

/* Definir la animación llamada "typing" */
@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

/* Styles for the main image container */
.main-img {
  position: relative;
  display: inline-block;
  margin-top: 40px;
  margin-right: 20px  

}

.main-img img {
  width: 250px;
  height: auto;
  border-radius: 60%;
  position: relative;
  z-index: 2;

}

.AboutMe-Section {
  height: 125px;
  margin-top: 125px;
  padding:  0 80px;
  color: white;
}

.aboutMe-container {
width: 100%;
height: 100px;
}

.aboutMe-Title {
  font-size: 28px;
  margin-bottom: 16px;
  color: var(--primary);
}

.aboutMe-CV {
  align-items: baseline;
  display: flex;
}

.aboutMe-CV  span{
  background: #e80664;
  color: #fff;
  padding: 16px;
  text-align: center;
 border-radius: 16px;
 margin-top: 24px;
 text-
}

.aboutMe-CV span:hover {
  background: #448904
}

.aboutMe-container p {
  font-size: 18px;
  font-weight: 100;
}

/* Styles for the tool container */
.tool-section {
  padding-top: 56px;
  margin-top: 300px;
  margin: 50px;
  height: 500px;

}


/* Styles for the tool section title */
.tool-section h2 {
  font-size: 32px;
  text-align: center;
  color: var(--secondary);
  margin:48px;
}

/* Styles for the tool images and border effect */
.tools::before {
  content: "";
  position: absolute;
  padding-top: 60px;
  width: 150px;
  height: 20%;
  align-items: center;
  border-radius: 60%;
  border: 80px solid #e80665;
  filter: blur(190px);
  z-index: -1;
}

.tools {

  height: 100px;
  padding-top: 56px;
  margin: 48px;
  justify-content: center; 
  align-items: center; 
  display: grid;
  grid-template-rows: repeat (2,1fr);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 40px 24px;

}

.tools img {
  background: #3e3c3c2d;
  padding: 8px;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: contain;



}

/* Styles for the projects section */
.projects-section {
  margin: 8px;
  padding: 20px;
  text-align: center;
}

.project-container {

  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Styles for individual project cards */
.project {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

/* Styles for the project title */
.project-title {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--secondary);
  padding-bottom: 24px;
  text-align: center; /* Center the title */
}

/* Styles for project cover images */
.project img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.project img:hover {
  border: 8px solid  #a3ff4d;
}

/* Styles for the project description */
.project h2 {
  font-size: 24px;
  padding: 16px;
  color: var(--secondary);
  margin-bottom: 10px;
  text-align: center;
}

/* Styles for project links */
.project-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.github-link,
.additional-link {
  flex: 1;
  text-decoration: none;
  padding: 10px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.github-link:hover,
.additional-link:hover {
  background-color: #448904;
  color: var(--secondary);
}

/* Styles for the project description */
.project-description {
  font-size: 16px;
  color: var(--secondary);
  padding-top: 16px;
  margin-bottom: 10px;
  text-align: center;
}

/* Styles for the WhatsApp chat button */
#whatsapp-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  color: #fff;
  padding: 10px 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.366);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#whatsapp-chat img {
  width: 40px;
  display: block;
  padding: 4px;
  border-radius: 30%;
}

#whatsapp-chat:hover {
  background-color:  #448904;
}

/* Styles for the footer */
footer {
  height: 100px;
}

.footer {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

footer::before {
  content: "";
  position: absolute;
  width: 900px;
  height: 5%;
  border-radius: 30%;
  border: 30px solid #e80665;
  filter: blur(190px);
  z-index: -1;
}


@media only screen and (max-width: 1200px) {
  body {
    max-width: 900px;
    margin: 60px auto; /* Centrar el contenido */
    padding: 70px;
  }
/* Styles for the navigation bar */

header {
  max-width: 900px;
  margin: 0 auto; /* Centrar el contenido */
}


.main-section,
  .AboutMe-Section,
  .tool-section,
  .projects-section {
    max-width: 900px;
    margin: 70px auto; /* Centrar el contenido */
  }

  .tools,
  .project-container {
    justify-content: space-evenly;
  }

  .project {
    width: 48%; /* Reducir el ancho para encajar dos en una fila */
  }

  .footer::before {
    width: 100%; /* Ajuste para ocupar el ancho completo */
  }
}
