@media only screen and (min-width: 320px) and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 20px;
    }
    .navbar-container,
    .main-container  {
        padding: 20px;
    }
    #name {
        font-size: 24px;
    }
    #text {
        font-size: 16px;
    }
    #ocupation {
        font-size: 16px;
    }
    .main-section,
    .aboutme-section,
    .project-section,
    .tool-section {
        padding: 40px;
    }
    .social-media {
        width: 80%;
        gap: 10px;
        padding: 40px;
    }

    .linkedin-button,
    .github-button {
    width: auto;
    text-align: center;
    padding:8px;
    font-size: 14px;
    border: solid 2px #f52cf9;
    box-shadow: 0 0 2px #f52cf9;
    color: #f52cf9;
    border-radius: 12px;
    cursor: pointer;
    
    } 
    .main-text{
        width: 80%;
    }
    .project-section {
        display: flex;
        flex-direction: column;
    }
    .projects-container {
        gap: 60px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .bi-whatsapp {
        font-size: 28px;
        background: var(--secondary);
        padding: 6px 12px;
        border-radius: 150px;
        box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.366);
    }
    footer {
        padding: 0;
        width: auto;
        height: auto;
        border-radius: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .navbar-container,
    .main-container  {
        padding: 0px 40px;
    }
    #name {
        font-size: 32px;
    }
    #text {
        font-size: 16px;
    }
    .aboutme-section,
    .project-section,
    .tool-section {
        padding: 40px 80px;
    }
    .project-section {
        display: flex;
        flex-direction: column;
    }
    .projects-container {
        gap: 60px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .bi-whatsapp {
        font-size: 28px;
        background: var(--secondary);
        padding: 6px 12px;
        border-radius: 150px;
        box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.366);
    }
    footer {
        padding: 0;
        width: auto;
        height: auto;
        border-radius: 0;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-container,
    .main-container  {
        padding: 0px 40px;
    }
    #name {
        font-size: 32px;
    }
    #text {
        font-size: 16px;
    }
    .aboutme-section,
    .project-section {
        padding: 40px 80px;
    }
    .tool-section{
        padding: 60px 80px;
    }
    .project-section {
        display: flex;
        flex-direction: column;
    }
    .projects-container {
        gap: 60px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .bi-whatsapp {
        font-size: 28px;
        background: var(--secondary);
        padding: 6px 12px;
        border-radius: 150px;
        box-shadow: 0px 0px 8px rgba(163, 163, 163, 0.366);
    }
    footer {
        margin-top: 40px ;
        padding: 0;
        width: auto;
        height: auto;
        border-radius: 0;
    }
}